@import "mixins.less";

@red: #bf0b37;

.topbar{
    a{
        color: #fff;
        &:hover{
            background: @red;
        }
    }
    .fill{
        background: darken(@red, 10%);
        #gradient > .vertical(@red, darken(@red, 5%));
    }
}

.red{
  background: red;
}

.red{
  background: blue;
}

.green{
  background: green;
}
