@import "mixins.less";

@red: #bf0b37;

body{
    padding: 80px 0;
}

.topbar{
    a{
        color: #fff;
        &:hover{
            background: @red;
        }
    }
    .fill{
        background: darken(@red, 10%);
        #gradient > .vertical(@red, darken(@red, 5%));
    }
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.green{
  color: green;
}
