<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="author" content="Zach Williams, zachwill.com" />
    <meta name="description" content="A simple app testing out Flask with PJAX on Heroku." />
    <meta name="viewport" content="width=980" />

    <title>Flask with PJAX</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet/less" href="/static/css/main.less">

    <link rel="stylesheet" href="/static/css/prettify.css">
    <script src="/static/js/prettify.js"></script>

    <!-- Use `less.js` to dynamically compile your `stylesheet/less` files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.1.3/less-1.1.3.min.js"></script>

  </head>

  <body>
    <header>
      {% include "header.html" %}
    </header>

    <div id="main">
      {% include template %}
    </div>

    <footer>
      {% include "footer.html" %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/static/js/jquery.pjax.js"></script>
    <script src="/static/js/application.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <!-- Prompt IE < 8 users to install Chrome Frame. -->
    <!--[if lt IE 8 ]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
  </body>
</html>
