<div class="topbar">
  <div class="fill">
    <div class="container">
      <a href="/" class="brand" data-pjax="#main">Flask PJAX</a>

      <ul class="secondary-nav">
        <li>
          <a href="/red" data-pjax="#main">Red</a>
        </li>

        <li>
            <a href="/green" data-pjax="#main">Green</a>
        </li>

        <li>
            <a href="/blue" data-pjax="#main">Blue</a>
        </li>

        <li class="vertical-divider"></li>

        <li>
          <a href="http://github.com/zachwill/pjax_flask">Github</a>
        </li>
      </ul>

    </div>
  </div>
</div>
