<div class="topbar">
  <div class="fill">
    <div class="container">
      <a href="/" class="brand" data-pjax="#main">Flask PJAX</a>

      <ul class="secondary-nav">
        <li>
          <a href="/planes" data-pjax="#main">Planes</a>
        </li>

        <li>
            <a href="/trains" data-pjax="#main">Trains</a>
        </li>

        <li>
            <a href="/automobiles" data-pjax="#main">Automobiles</a>
        </li>

        <li class="vertical-divider"></li>

        <li>
          <a href="http://github.com/zachwill/pjax_flask">Github</a>
        </li>
      </ul>

    </div>
  </div>
</div>
